.slider-track {
  --gap: 0.5rem;
  gap: var(--gap);
}

@media screen and (min-width: 600px) and (max-width: 969px) {
  .slider-track {
    --items-on-screen: 4 !important;
  }
}

@media screen and (max-width: 599px) {
  .slider-track {
    --items-on-screen: 2 !important;
  }
}

@media screen and (min-width: 970px) {
  .slider-track {
    --items-on-screen: 5 !important;
  }
}
.slider-track > div {
  flex-basis: calc(100% / var(--items-on-screen) - var(--gap));
  max-width: calc(100% / var(--items-on-screen) - var(--gap));
  flex-shrink: 0;
  flex-grow: 0;
}
