@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 3rem;
}

.scroll-design {
  scrollbar-color: rgb(79 79 79 / 0.6) transparent;
}

.scroll-design::-webkit-scrollbar {
  @apply w-1.5;
}
.scroll-design::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.scroll-design::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-gray-md/60 hover:bg-gray-md;
}

.menu-link {
  @apply my-1 flex w-full items-center gap-2 rounded px-2 py-2 text-start leading-tight outline-none transition-colors first-of-type:mt-0 last-of-type:mb-0 hover:bg-zinc-800 hover:text-white focus-visible:bg-zinc-800 focus-visible:text-white focus-visible:ring-2 focus-visible:ring-brand/30;
}

button[tabIndex="-1"] {
  @apply cursor-default;
}

button.button {
  @apply flex w-full place-items-center justify-center gap-2 rounded-sm border-transparent bg-transparent px-3 py-2 text-sm font-medium text-white outline-none placeholder:font-work-sans autofill:font-work-sans focus-visible:ring-2 focus-visible:ring-brand/50;
}

button.primary {
  @apply bg-brand/95 tracking-wide transition-colors hover:bg-brand focus-visible:bg-brand;
}

button.secondary {
  @apply border border-gray-dark bg-transparent tracking-wide transition-colors hover:bg-gray-dark focus-visible:bg-gray-dark;
}

button.tmdb {
  @apply bg-tmdb-teal font-semibold uppercase tracking-wide text-gray-dark shadow-sm transition-all hover:bg-tmdb-blue hover:shadow-tmdb-blue/20;
}

.animate-in {
  animation: animate-in 300ms ease-in-out forwards;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}